// Variables
$main: #072E40;
$base: #1e698d;
$secondary: #789fbb;
$ternary: #c2d5db;
$button: #2EA3D9;
$link: #282828;
$projback: #939393;
$navCircle: #43464b; // Full page customs

#fp-nav .active {
  span {
    background: $projback;
  }
}

.fp-slidesNav .active {
  span {
    background: $projback;
  }
}

#fullpage {
  .section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.About,
.Contact,
.Home,
.Projects {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-flow: column;
  align-content: center;
  text-align: center;
  align-items: center;
}

.container {
  display: flex;
  text-align: justify;
  width: 75%;
  height: 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
}
// Home

h1.name {
  color: $secondary;
  font-size: 6rem;
  margin-bottom: 3rem;
}

p.occupation {
  color: $ternary;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

button.resume {
  background: white;
  border: none;
  padding: 0.5rem 3rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background: $button;
  }
  &:before {
    background: $button;
    display:inline-block;
  content:'';
  position:absolute;
  left:0;
  right:0;
  z-index:-1;
  }

  a {
    text-decoration: none;
    color: $main;
    font-size: 1.5rem;
  }
}
// about

h2.bio {
  color: $ternary;
  font-size: 3rem;
  text-align: justify;
}
// projects

.Projects .card {
  max-width: 75%;
  max-height: 90%;

  header.card-header {
    padding: 1rem;

    .card-header-title {
      margin: 0;
      font-size: 3rem;
      color: $ternary;
    }
  }

  .card-content {
    padding: 1rem 0;
    max-width: 100%;
    max-height: 90%;
    background: darken($navCircle, 15%);

    img {
      width: 75%;
    }
  }

  footer {
    display: flex;
    background: darken($navCircle, 10%);
    padding: 1rem;

    a {
      width: 50%;
      color: lighten($navCircle, 50%);
      font-size: 1rem;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $button;
      }

      &:first-child {
        border-right: 1px solid black;
      }
    }
  }
}
// contact

.Contact {
  h3.contact {
    font-size: 2.5rem;
    color: $ternary;
  }

  ul {
    list-style: none;
    text-align: center;
    padding: 0;

    li {
      margin: 0.75rem 0;
      text-align: center;
      color: $link;

      &.email {
        color: $button;
        font-size: 1.5rem;
      }

      a {
        color: $navCircle;
        font-size: 3rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $ternary;
        }
      }
    }
  }
}

@media (max-width:1024px) {
  h2.bio{
    font-size: 2rem;
    text-align: center;
  }
}

@media (max-width:768px) {
  h1.name {
    color: $secondary;
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  h2.bio{
    font-size: 1.75rem;
    text-align: center;
  }
}


/**
 * Shadow
 */
a.button::before {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: #959595 0 2px 5px;
    -moz-box-shadow: #959595 0 2px 5px;
    border-radius: 3px;
    box-shadow: #959595 0 2px 5px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    padding: 2px 0 0;
    position: absolute;
    top: 0;
    width: 100%; }

a.button:active::before { padding: 1px 0 0; }

/**
 * Grey
 */
a.button {
    -moz-box-shadow: inset 0 0 0 1px #63ad0d;
    -webkit-box-shadow: inset 0 0 0 1px #63ad0d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #eee;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e2e2e2));
    background: -moz-linear-gradient(#eee, #e2e2e2);
    background: linear-gradient(#eee, #e2e2e2);
    border: solid 1px #d0d0d0;
    border-bottom: solid 3px #b2b1b1;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #f5f5f5;
    color: #555;
    display: inline-block;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
    margin: 0 25px 25px 0;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fafafa; }

a.button:hover {
    background: #e4e4e4;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e4e4e4), to(#ededed));
    background: -moz-linear-gradient(#e4e4e4, #ededed);
    background: linear-gradient(#e4e4e4, #ededed);
    border: solid 1px #c2c2c2;
    border-bottom: solid 3px #b2b1b1;
    box-shadow: inset 0 0 0 1px #efefef; }

a.button:active {
    background: #dfdfdf;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dfdfdf), to(#e3e3e3));
    background: -moz-linear-gradient(#dfdfdf, #e3e3e3);
    background: linear-gradient(#dfdfdf, #e3e3e3);
    border: solid 1px #959595;
    box-shadow: inset 0 10px 15px 0 #c4c4c4;
    top:2px;}
