// Variables
$main: #072E40;
$base: #1e698d;
$secondary: #789fbb;
$ternary: #c2d5db;
$button: #2EA3D9;
$link: #282828;
$projback: #939393;
$navCircle: #43464b; // Full page customs

#fp-nav .active {
  span {
    background: $projback;
  }
}

.fp-slidesNav .active {
  span {
    background: $projback;
  }
}

#fullpage {
  .section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.About,
.Contact,
.Home,
.Projects {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-flow: column;
  align-content: center;
  text-align: center;
  align-items: center;
}

.container {
  display: flex;
  text-align: justify;
  width: 75%;
  height: 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
}
// Home

h1.name {
  color: $secondary;
  font-size: 6rem;
  margin-bottom: 3rem;
}

p.occupation {
  color: $ternary;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

button.resume {
  background: white;
  border: none;
  padding: 0.5rem 3rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background: $button;
  }

  a {
    text-decoration: none;
    color: $main;
    font-size: 1.5rem;
  }
}
// about

h2.bio {
  color: $ternary;
  font-size: 3rem;
  text-align: justify;
}
// projects

.Projects .card {
  max-width: 75%;
  max-height: 90%;

  header.card-header {
    padding: 1rem;

    .card-header-title {
      margin: 0;
      font-size: 3rem;
      color: $ternary;
    }
  }

  .card-content {
    padding: 1rem 0;
    max-width: 100%;
    max-height: 90%;
    background: darken($navCircle, 15%);

    img {
      width: 75%;
    }
  }

  footer {
    display: flex;
    background: darken($navCircle, 10%);
    padding: 1rem;

    a {
      width: 50%;
      color: lighten($navCircle, 50%);
      font-size: 1rem;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $button;
      }

      &:first-child {
        border-right: 1px solid black;
      }
    }
  }
}
// contact

.Contact {
  h3.contact {
    font-size: 2.5rem;
    color: $ternary;
  }

  ul {
    list-style: none;
    text-align: center;
    padding: 0;

    li {
      margin: 0.75rem 0;
      text-align: center;
      color: $link;

      &.email {
        color: $button;
        font-size: 1.5rem;
      }

      a {
        color: $navCircle;
        font-size: 3rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $ternary;
        }
      }
    }
  }
}

@media (max-width:1024px) {
  h2.bio{
    font-size: 2rem;
    text-align: center;
  }
}

@media (max-width:768px) {
  h1.name {
    color: $secondary;
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  h2.bio{
    font-size: 1.75rem;
    text-align: center;
  }
}
