// Varaibles
$base: #1e698d;
$secondary: #789fbb;
$ternary: #c2d5db;
$link: #282828;
$projback: #939393;

#fullpage {
  .section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.About,
.Contact,
.Home,
.Projects {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-flow: column;
  align-content: center;
  text-align: center;
  align-items: center;
}

.container {
  display: flex;
  text-align: justify;
  width: 75%;
  height: 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h1.heading {
  color: $ternary;
  font-size: 5rem;
}

h2.bio {
  color: $ternary;
  font-size: 3rem;
}

h3.sub-heading {
  color: $ternary;
  font-size: 3rem;
}

.Contact {
  .contact-point {
    font-size: 2rem;
    text-align: center;
  }

  ul {
    list-style: none;
    text-align: center;
    padding: 0;

    li {
      margin: 0.75rem 0;
      text-align: center;
      color: $link;

      a {
        color: $link;
      }
    }
  }
}

i.fab {
  background: red;
}

#fp-nav .active {
  span {
    background: $secondary;
  }
}

.fp-slidesNav .active {
  span {
    background: $secondary;
  }
}

.card {
  max-width: 75%;
  max-height: 90%;

  header.card-header {
    margin: 0;
    background: $ternary;
    padding: 1rem;

    .card-header-title {
      margin: 0;
      font-size: 2rem;
      color: white;
    }
  }

  .card-content {
    padding: 1rem 0;
    max-width: 100%;
    max-height: 90%;
    background: $link;

    img {
      width: 75%;
    }
  }

  footer {
    display: flex;
    background: $ternary;
    padding: 1rem;

    a {
      width: 50%;
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: $link;
      }
    }
    a:first-child {
      border-right: 1px solid black;
    }
  }
}
